<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.climprpiano"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="org.climprpiano.PianoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.climprpiano.SongSettingsActivity" >
        </activity>
        <activity android:name="com.midisheetmusic.ChooseSongActivity" >
        </activity>
        <activity android:name="com.midisheetmusic.FileBrowserActivity" >
        </activity>
        <activity android:name="com.midisheetmusic.AllSongsActivity" >
        </activity>
        <activity android:name="com.midisheetmusic.RecentSongsActivity" >
        </activity>
        <activity
            android:name="org.climprpiano.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity android:name="org.climprpiano.AboutActivity" >
        </activity>
        <activity
            android:name="org.climprpiano.MidiSettingsActivity"
            android:label="@string/title_activity_midi_settings" >
        </activity>
    </application>

</manifest>